In [148]:
import pandas as pd
import numpy as np
import requests #to fetch the html content from wikipedia specified by link variable
import urllib.request  #to open the url

## Extracting features of 2020 movies from Wikipedia

In [215]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1 = pd.read_html(link, header=0)[2]
df1=df1.rename(columns={'.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.':'Ref.'})
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [216]:
df = pd.concat([df1, df2, df3, df4], ignore_index=True)
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,J A N U A R Y,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,J A N U A R Y,10,Like a Boss,Paramount Pictures / Artists First,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,J A N U A R Y,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,J A N U A R Y,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
...,...,...,...,...,...,...
268,D E C E M B E R,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,[239]
269,D E C E M B E R,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,[240]
270,D E C E M B E R,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,[241]
271,D E C E M B E R,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,[242]
272,D E C E M B E R,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,[243]

In [217]:
%pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages (1.7.7)
Requirement already satisfied: requests in c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages (from tmdbv3api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages (from requests->tmdbv3api) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages (from requests->tmdbv3api) (2022.5.18.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -illow (c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\deepj\appdata\local\programs\python\python310\lib\site-packages)

In [218]:
from tmdbv3api import TMDb,Movie
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'ea2b67fab0d2041bd7af2f50d1ba5c07'

In [219]:
import requests
from tmdbv3api import TMDb, Movie
from urllib3.exceptions import MaxRetryError

# Initialize TMDb and Movie objects
tmdb = TMDb()
tmdb_movie = Movie()

def get_genre(x):
    genres = []
    try:
        result = tmdb_movie.search(x)
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key), verify=True)
        if response.status_code == 200:
            data = response.json()
            genres = [genre['name'] for genre in data.get('genres', [])]
    except MaxRetryError as e:
        print(f"Max retries exceeded. Error: {e}")
    except requests.exceptions.SSLError as e:
        print(f"SSL Error: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")
    return genres

# Assuming you have a DataFrame called 'df' and a column 'Title'
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

An error occurred: list index out of range
An error occurred: list index out of range

In [220]:
df['genres']

0                                 [Horror, Mystery]
1      [Horror, Science Fiction, Action, Adventure]
2                                          [Comedy]
3                                           [Drama]
4                          [Crime, Thriller, Drama]
                           ...
268               [Family, Action, Fantasy, Comedy]
269                     [Drama, Western, Adventure]
270                                         [Drama]
271                        [Thriller, Crime, Drama]
272                                         [Drama]
Name: genres, Length: 273, dtype: object

In [221]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,J A N U A R Y,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],"[Horror, Mystery]"
1,J A N U A R Y,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],"[Horror, Science Fiction, Action, Adventure]"
2,J A N U A R Y,10,Like a Boss,Paramount Pictures / Artists First,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],[Comedy]
3,J A N U A R Y,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,[Drama]
4,J A N U A R Y,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],"[Crime, Thriller, Drama]"
...,...,...,...,...,...,...,...
268,D E C E M B E R,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,[239],"[Family, Action, Fantasy, Comedy]"
269,D E C E M B E R,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,[240],"[Drama, Western, Adventure]"
270,D E C E M B E R,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,[241],[Drama]
271,D E C E M B E R,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,[242],"[Thriller, Crime, Drama]"
272,D E C E M B E R,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,[243],[Drama]

In [222]:
df_2020 = df[['Title','Cast and crew','genres']]

In [223]:
df_2020

,Title,Cast and crew,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,"[Horror, Mystery]"
1,Underwater,"William Eubank (director); Brian Duffield, Ada...","[Horror, Science Fiction, Action, Adventure]"
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",[Comedy]
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,[Drama]
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,"[Crime, Thriller, Drama]"
...,...,...,...
268,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,"[Family, Action, Fantasy, Comedy]"
269,News of the World,Paul Greengrass (director/screenplay); Luke Da...,"[Drama, Western, Adventure]"
270,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,[Drama]
271,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,"[Thriller, Crime, Drama]"
272,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,[Drama]

In [224]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [225]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\3848435694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

In [226]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [227]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\3646981363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [228]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [229]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\463054939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [230]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [231]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [232]:
df_2020

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,"[Horror, Mystery]",Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,"William Eubank (director); Brian Duffield, Ada...","[Horror, Science Fiction, Action, Adventure]",William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",[Comedy],Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,[Drama],Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,"[Crime, Thriller, Drama]",Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs
...,...,...,...,...,...,...,...
268,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,"[Family, Action, Fantasy, Comedy]",Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin
269,News of the World,Paul Greengrass (director/screenplay); Luke Da...,"[Drama, Western, Adventure]",Paul Greengrass,Tom Hanks,Helena Zengel,NaN
270,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,[Drama],Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge
271,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,"[Thriller, Crime, Drama]",Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie
272,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,[Drama],Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker

In [233]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [234]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [235]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,"[Horror, Mystery]",The Grudge
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,"[Horror, Science Fiction, Action, Adventure]",Underwater
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,[Comedy],Like a Boss
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,[Drama],Three Christs
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,"[Crime, Thriller, Drama]",Inherit the Viper
...,...,...,...,...,...,...
268,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,"[Family, Action, Fantasy, Comedy]",We Can Be Heroes
269,Paul Greengrass,Tom Hanks,Helena Zengel,NaN,"[Drama, Western, Adventure]",News of the World
270,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,[Drama],One Night in Miami...
271,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,"[Thriller, Crime, Drama]",Promising Young Woman
272,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,[Drama],Pieces of a Woman

In [236]:
new_df20['director_name']+" "+new_df20['actor_1_name']

0            Nicolas Pesce Andrea Riseborough
1              William Eubank Kristen Stewart
2               Miguel Arteta Tiffany Haddish
3                      Jon Avnet Richard Gere
4                Anthony Jerjen Josh Hartnett
                        ...
268    Robert Rodriguez Priyanka Chopra Jonas
269                 Paul Greengrass Tom Hanks
270             Regina King Kingsley Ben-Adir
271            Emerald Fennell Carey Mulligan
272            Kornél Mundruczó Vanessa Kirby
Length: 273, dtype: object

In [237]:
new_df20['actor_2_name'] = new_df20['actor_2_name'].replace(np.nan, 'unknown')
new_df20['actor_3_name'] = new_df20['actor_3_name'].replace(np.nan, 'unknown')

In [238]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [239]:
# It converts list of genre to a single string
new_df20['genres'] = new_df20['genres'].apply(lambda genres_list: " ".join(genres_list))
new_df20['comb'] = new_df20['actor_1_name'] + " "  + new_df20['actor_2_name'] + " "+ new_df20['actor_3_name'] + " "+ new_df20['director_name']+" "+new_df20['genres']
# Drop the genres_str column
# new_df18.drop(columns=['genres'], inplace=True)

In [240]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery,the grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Horror Science Fiction Action Adventure,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...
...,...,...,...,...,...,...,...
268,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Family Action Fantasy Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
269,Paul Greengrass,Tom Hanks,Helena Zengel,unknown,Drama Western Adventure,news of the world,Tom Hanks Helena Zengel unknown Paul Greengras...
270,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
271,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
272,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

# Extracting Features of 2021 movies from Wikepedia

In [241]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1 = pd.read_html(link, header=0)[2]
df1=df1.rename(columns={'.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.':'Ref.'})
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [242]:
df=pd.concat([df1, df2, df3, df4], ignore_index=True)

In [243]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2]
1,J A N U A R Y,13.0,The White Tiger,Netflix / Noruz Films,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN
2,J A N U A R Y,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3]
3,J A N U A R Y,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4]
4,J A N U A R Y,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5]
...,...,...,...,...,...,...
356,D E C E M B E R,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,[273]
357,D E C E M B E R,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,[274]
358,D E C E M B E R,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",[275]
359,D E C E M B E R,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,[276]
360,D E C E M B E R,NaN,NaN,NaN,NaN,NaN

In [244]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

An error occurred: list index out of range

In [245]:
df_2021 = df[['Title','Cast and crew','genres']]

In [246]:
df_2021

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,"[Horror, Action, War]"
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,[Drama]
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,"[Comedy, Crime, Drama]"
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,"[Drama, History]"
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...","[Thriller, Action, Science Fiction]"
...,...,...,...
356,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,"[Drama, War]"
357,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,"[Drama, Romance]"
358,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",[Drama]
359,Memoria,Apichatpong Weerasethakul (director/acreenplay...,[Drama]
360,NaN,NaN,"[Drama, Crime]"

In [247]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [248]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\3118254134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

In [249]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [250]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\1611661901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [251]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [252]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\3001516348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [253]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [254]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [255]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [256]:
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [257]:
new_df21['actor_2_name'] = new_df21['actor_2_name'].replace(np.nan, 'unknown')
new_df21['actor_3_name'] = new_df21['actor_3_name'].replace(np.nan, 'unknown')

In [258]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [259]:
new_df21['genres'] = new_df21['genres'].apply(lambda genres_list: " ".join(genres_list))
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [260]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,Anthony Mackie Damson Idris Emily Beecham Mika...
...,...,...,...,...,...,...,...
356,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
357,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan Chanté Adams Jalon Christian...
358,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
359,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama,memoria,Apichatpong Weerasethakul (director/acreenplay...
360,nan,nan,unknown,unknown,Drama Crime,NaN,nan unknown unknown nan Drama Crime

In [294]:
new_df21 = new_df21.dropna(subset=['movie_title'])
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,Anthony Mackie Damson Idris Emily Beecham Mika...
...,...,...,...,...,...,...,...
355,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
356,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
357,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan Chanté Adams Jalon Christian...
358,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
359,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama,memoria,Apichatpong Weerasethakul (director/acreenplay...

# Extracting features of 2022 movies from Wikepedia

In [267]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"

df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [268]:
df1=df1.rename(columns={'.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.':'Ref.'})
# df2

In [269]:
df1,df2,df3,df4

(          Opening  Opening.1                              Title
 0   J A N U A R Y          7                            The 355  \
 1   J A N U A R Y          7           The Legend of La Llorona
 2   J A N U A R Y          7                       The Commando
 3   J A N U A R Y          7                     American Siege
 4   J A N U A R Y         14                             Scream
 ..            ...        ...                                ...
 58      M A R C H         25                      The Lost City
 59      M A R C H         25  Everything Everywhere All at Once
 60      M A R C H         25                     Infinite Storm
 61      M A R C H         25                             7 Days
 62      M A R C H         31                           Moonshot

                                    Production company
 0   Universal Pictures / Freckle Films / FilmNatio...  \
 1                      Saban Films / Ageless Pictures
 2                Saban Films / Premiere Entertainment
 3                              Vertical Entertainment
 4   Paramount Pictures / Spyglass Media Group / Ra...
 ..                                                ...
 58                  Paramount Pictures / Fortis Films
 59                             A24 / AGBO / IAC Films
 60                                    Bleecker Street
 61            Cinedigm / Duplass Brothers Productions
 62  HBO Max / Warner Bros. Pictures / New Line Cinema

                                         Cast and crew  Ref.
 0   Simon Kinberg (director/screenplay); Theresa R...   [2]
 1   Patricia Harris Seeley (director/screenplay); ...   [3]
 2   Asif Akbar (director); Koji Steven Sakai (scre...   [4]
 3   Edward Drake (director/screenplay); Timothy V....   [5]
 4   Matt Bettinelli-Olpin, Tyler Gillett (director...   [6]
 ..                                                ...   ...
 58  Aaron Nee, Adam Nee (directors/screenplay); Or...  [59]
 59  Daniel Kwan, Daniel Scheinert (directors/scree...  [60]
 60  Małgorzata Szumowska, Michał Englert (director...  [61]
 61  Roshan Sethi (director/screenplay); Karan Soni...  [62]
 62  Chris Winterbauer (director); Max Taxe (screen...  [63]

 [63 rows x 6 columns],
       Opening  Opening.1                                 Title
 0   A P R I L          1                               Morbius  \
 1   A P R I L          1                            The Bubble
 2   A P R I L          1                        The Contractor
 3   A P R I L          1                 Better Nate Than Ever
 4   A P R I L          1  Apollo 10 1⁄2: A Space Age Childhood
 ..        ...        ...                                   ...
 69    J U N E         24                         The Sea Beast
 70    J U N E         24        Marcel the Shell with Shoes On
 71    J U N E         24                                  Rise
 72    J U N E         24                            Press Play
 73    J U N E         29                                Beauty

                                    Production company
 0            Columbia Pictures / Marvel Entertainment  \
 1                        Netflix / Apatow Productions
 2   Paramount Pictures / STXfilms / Thunder Road F...
 3                      Disney+ / Walt Disney Pictures
 4                         Netflix / Netflix Animation
 ..                                                ...
 69                        Netflix / Netflix Animation
 70                                    A24 / Cinereach
 71                     Disney+ / Walt Disney Pictures
 72                      The Avenue / CJ Entertainment
 73                                            Netflix

                                         Cast and crew   Ref.
 0   Daniel Espinosa (director); Matt Sazama, Burk ...   [64]
 1   Judd Apatow (director/screenplay); Pam Brady (...   [65]
 2   Tarik Saleh (director); J. P. Davis (screenpla...   [66]
 3   Tim Federle (director/screenplay); Rueby Wood,...   [67]
 4   Richard Linklater (director/screenplay); Glen ...   [68]
 ..                                                ...    ...
 69  Chris Williams (director/screenplay); Nell Ben...  [121]
 70  Dean Fleischer-Camp (director/screenplay); Jen...  [122]
 71  Akin Omotoso (director); Arash Amel (screenpla...  [123]
 72  Greg Björkman (director/screenplay); James Bac...  [124]
 73  Andrew Dosunmu (director); Lena Waithe (screen...  [125]

 [74 rows x 6 columns],
               Opening  Opening.1                           Title
 0             J U L Y          1        Minions: The Rise of Gru  \
 1             J U L Y          1                    The Forgiven
 2             J U L Y          1              Mr. Malcolm's List
 3             J U L Y          1                    The Princess
 4             J U L Y          1                        Hot Seat
 ..                ...        ...                             ...
 88  S E P T E M B E R         30             Luckiest Girl Alive
 89  S E P T E M B E R         30                 God's Creatures
 90  S E P T E M B E R         30               Dead for a Dollar
 91  S E P T E M B E R         30       My Best Friend's Exorcism
 92  S E P T E M B E R         30  Hot Take: The Depp/Heard Trial

                                    Production company
 0                   Universal Pictures / Illumination  \
 1   Roadside Attractions / Vertical Entertainment ...
 2      Bleecker Street / Ingenious Media / Refinery29
 3         Hulu / 20th Century Studios / Original Film
 4                                           Lionsgate
 ..                                                ...
 88                          Netflix / Made Up Stories
 89                    A24 / BBC Film / Screen Ireland
 90              Quiver Distribution / Myriad Pictures
 91                  Amazon Studios / Endeavor Content
 92                      Tubi / MarVista Entertainment

                                         Cast and crew   Ref.
 0   Kyle Balda (director); Brian Lynch, Matthew Fo...  [126]
 1   John Michael McDonagh (director/screenplay); R...  [127]
 2   Emma Holly Jones (director); Suzanne Allain (s...  [128]
 3   Le-Van Kiet (director); Ben Lustig, Jake Thorn...  [129]
 4   James Cullen Bressack (director); Collin Watts...  [130]
 ..                                                ...    ...
 88  Mike Barker (director); Jessica Knoll (screenp...  [181]
 89  Saela Davis, Anna Rose Holmer (directors); Sha...  [199]
 90  Walter Hill (director/screenplay); Christoph W...  [200]
 91  Damon Thomas (director); Jenna Lamia (screenpl...  [177]
 92  Sara Lohman (director); Guy Nicolucci (screenp...  [201]

 [93 rows x 6 columns],
             Opening  Opening.1                  Title
 0     O C T O B E R        5.0   Mr. Harrigan's Phone  \
 1     O C T O B E R        6.0            Terrifier 2
 2     O C T O B E R        7.0  Lyle, Lyle, Crocodile
 3     O C T O B E R        7.0              Amsterdam
 4     O C T O B E R        7.0                    Tár
 ..              ...        ...                    ...
 94  D E C E M B E R       30.0         Alice, Darling
 95  D E C E M B E R        NaN                    NaN
 96  D E C E M B E R        NaN                    NaN
 97  D E C E M B E R        NaN                    NaN
 98  D E C E M B E R        NaN                    NaN

                                    Production company
 0                     Netflix / Blumhouse Productions  \
 1   Bloody Disgusting / Fuzz on the Lens Productio...
 2               Columbia Pictures / TSG Entertainment
 3          20th Century Studios / Regency Enterprises
 4                                      Focus Features
 ..                                                ...
 94                     Lionsgate / Elevation Pictures
 95                                                NaN
 96                                                NaN
 97                                                NaN
 98                                                NaN

                                         Cast and crew   Ref.
 0   John Lee Hancock (director/screenplay); Jaeden...  [181]
 1   Damien Leone (director/screenplay); Lauren LaV...  [202]
 2   Will Speck, Josh Gordon (directors); William D...  [203]
 3   David O. Russell (director/screenplay); Christ...  [204]
 4   Todd Field (director/screenplay); Cate Blanche...  [205]
 ..                                                ...    ...
 94  Mary Nighy (director); Alanna Francis (screenp...  [261]
 95                                                NaN    NaN
 96                                                NaN    NaN
 97                                                NaN    NaN
 98                                                NaN    NaN

 [99 rows x 6 columns])

In [270]:
df=pd.concat([df1, df2, df3, df4], ignore_index=True)
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,7.0,The 355,Universal Pictures / Freckle Films / FilmNatio...,Simon Kinberg (director/screenplay); Theresa R...,[2]
1,J A N U A R Y,7.0,The Legend of La Llorona,Saban Films / Ageless Pictures,Patricia Harris Seeley (director/screenplay); ...,[3]
2,J A N U A R Y,7.0,The Commando,Saban Films / Premiere Entertainment,Asif Akbar (director); Koji Steven Sakai (scre...,[4]
3,J A N U A R Y,7.0,American Siege,Vertical Entertainment,Edward Drake (director/screenplay); Timothy V....,[5]
4,J A N U A R Y,14.0,Scream,Paramount Pictures / Spyglass Media Group / Ra...,"Matt Bettinelli-Olpin, Tyler Gillett (director...",[6]
...,...,...,...,...,...,...
324,D E C E M B E R,30.0,"Alice, Darling",Lionsgate / Elevation Pictures,Mary Nighy (director); Alanna Francis (screenp...,[261]
325,D E C E M B E R,NaN,NaN,NaN,NaN,NaN
326,D E C E M B E R,NaN,NaN,NaN,NaN,NaN
327,D E C E M B E R,NaN,NaN,NaN,NaN,NaN
328,D E C E M B E R,NaN,NaN,NaN,NaN,NaN

In [271]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

An error occurred: list index out of range

In [274]:
df_2022 = df[['Title','Cast and crew','genres']]

In [275]:
df_2022

,Title,Cast and crew,genres
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,"[Action, Thriller]"
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...,"[Family, Animation, Fantasy, Horror, Comedy, A..."
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...,"[Action, Crime, Thriller]"
3,American Siege,Edward Drake (director/screenplay); Timothy V....,"[Action, Adventure, Thriller]"
4,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director...","[Horror, Mystery, Thriller]"
...,...,...,...
324,"Alice, Darling",Mary Nighy (director); Alanna Francis (screenp...,"[Thriller, Mystery, Drama]"
325,NaN,NaN,"[Drama, Crime]"
326,NaN,NaN,"[Drama, Crime]"
327,NaN,NaN,"[Drama, Crime]"
328,NaN,NaN,"[Drama, Crime]"

In [276]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [277]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\3796821595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

In [278]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [279]:
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\2929607607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [280]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [281]:
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\2384233428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [282]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [283]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [284]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [285]:
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [286]:
new_df22['actor_2_name'] = new_df22['actor_2_name'].replace(np.nan, 'unknown')
new_df22['actor_3_name'] = new_df22['actor_3_name'].replace(np.nan, 'unknown')

In [287]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [288]:
new_df22['genres'] = new_df22['genres'].apply(lambda genres_list: " ".join(genres_list))
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [290]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,the 355,Jessica Chastain Lupita Nyong'o Penélope Cruz ...
1,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Family Animation Fantasy Horror Comedy Action,the legend of la llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
2,Asif Akbar,Mickey Rourke,Michael Jai White,unknown,Action Crime Thriller,the commando,Mickey Rourke Michael Jai White unknown Asif A...
3,Edward Drake,Timothy V. Murphy,Bruce Willis,unknown,Action Adventure Thriller,american siege,Timothy V. Murphy Bruce Willis unknown Edward ...
4,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
...,...,...,...,...,...,...,...
324,Mary Nighy,Anna Kendrick,Kaniehtiio Horn,Charlie Carrick,Thriller Mystery Drama,"alice, darling",Anna Kendrick Kaniehtiio Horn Charlie Carrick ...
325,nan,nan,unknown,unknown,Drama Crime,NaN,nan unknown unknown nan Drama Crime
326,nan,nan,unknown,unknown,Drama Crime,NaN,nan unknown unknown nan Drama Crime
327,nan,nan,unknown,unknown,Drama Crime,NaN,nan unknown unknown nan Drama Crime
328,nan,nan,unknown,unknown,Drama Crime,NaN,nan unknown unknown nan Drama Crime

In [292]:
new_df22 = new_df22.dropna(subset=['movie_title'])

In [293]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,the 355,Jessica Chastain Lupita Nyong'o Penélope Cruz ...
1,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Family Animation Fantasy Horror Comedy Action,the legend of la llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
2,Asif Akbar,Mickey Rourke,Michael Jai White,unknown,Action Crime Thriller,the commando,Mickey Rourke Michael Jai White unknown Asif A...
3,Edward Drake,Timothy V. Murphy,Bruce Willis,unknown,Action Adventure Thriller,american siege,Timothy V. Murphy Bruce Willis unknown Edward ...
4,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
...,...,...,...,...,...,...,...
320,Kasi Lemmons,Naomi Ackie,Stanley Tucci,Ashton Sanders,Music History Drama,whitney houston: i wanna dance with somebody,Naomi Ackie Stanley Tucci Ashton Sanders Kasi ...
321,Scott Cooper,Christian Bale,Harry Melling,Gillian Anderson,Crime Horror Mystery Thriller,the pale blue eye,Christian Bale Harry Melling Gillian Anderson ...
322,Sarah Polley,Rooney Mara,Claire Foy,Jessie Buckley,Drama,women talking,Rooney Mara Claire Foy Jessie Buckley Sarah Po...
323,Marc Forster,Tom Hanks,Mariana Treviño,Rachel Keller,Comedy Drama,a man called otto,Tom Hanks Mariana Treviño Rachel Keller Marc F...
324,Mary Nighy,Anna Kendrick,Kaniehtiio Horn,Charlie Carrick,Thriller Mystery Drama,"alice, darling",Anna Kendrick Kaniehtiio Horn Charlie Carrick ...

# Extracting features of 2023 movies from Wikepedia

In [303]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"

df1 = pd.read_html(link, header=0)[2]
df1=df1.rename(columns={'.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.':'Ref.'})

df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]
df5 =pd.read_html(link, header=0)[6]

In [309]:
df=pd.concat([df2, df3, df4, df5], ignore_index=True)
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,6.0,M3GAN,Universal Pictures / Blumhouse Productions / A...,Gerard Johnstone (director); Akela Cooper (scr...,[3]
1,J A N U A R Y,6.0,The Old Way,Saban Films / Saturn Films,Brett Donowho (director); Carl W. Lucas (scree...,[4]
2,J A N U A R Y,11.0,The Devil Conspiracy,Samuel Goldwyn Films,Nathan Frankowski (director); Ed Alan (screenp...,[5]
3,J A N U A R Y,13.0,Plane,Lionsgate / MadRiver Pictures / Di Bonaventura...,Jean-François Richet (director); Charles Cummi...,[6]
4,J A N U A R Y,13.0,House Party,Warner Bros. Pictures / New Line Cinema,"Calmatic (director); Jamal Olori, Stephen Glov...",[7]
...,...,...,...,...,...,...
250,D E C E M B E R,22.0,The Iron Claw,A24 / BBC Film / Access Entertainment,"Sean Durkin (director/screenplay); Zac Efron, ...",[227]
251,D E C E M B E R,25.0,The Color Purple,Warner Bros. Pictures / Harpo Films / Amblin E...,"Blitz Bazawule (director), Marcus Gardley (scr...",[225]
252,D E C E M B E R,25.0,The Boys in the Boat,Metro-Goldwyn-Mayer / Spyglass Media Group,"George Clooney (director), Mark L. Smith (scre...",[228]
253,D E C E M B E R,25.0,Ferrari,Neon / STXfilms,"Michael Mann (director), Troy Kennedy Martin (...",[229]
254,D E C E M B E R,NaN,NaN,NaN,NaN,NaN

In [310]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

An error occurred: list index out of range
An error occurred: HTTPSConnectionPool(host='api.themoviedb.org', port=443): Max retries exceeded with url: /3/search/movie?api_key=ea2b67fab0d2041bd7af2f50d1ba5c07&query=The%20Boys%20in%20the%20Boat&page=1&language=en-US (Caused by ProxyError('Unable to connect to proxy', OSError('Tunnel connection failed: 503 Service Unavailable')))

In [311]:
df_2023 = df[['Title','Cast and crew','genres']]

In [312]:
df_2023

,Title,Cast and crew,genres
0,M3GAN,Gerard Johnstone (director); Akela Cooper (scr...,"[Science Fiction, Horror]"
1,The Old Way,Brett Donowho (director); Carl W. Lucas (scree...,[Western]
2,The Devil Conspiracy,Nathan Frankowski (director); Ed Alan (screenp...,"[Horror, Fantasy, Science Fiction, Thriller]"
3,Plane,Jean-François Richet (director); Charles Cummi...,"[Action, Adventure, Thriller]"
4,House Party,"Calmatic (director); Jamal Olori, Stephen Glov...",[Comedy]
...,...,...,...
250,The Iron Claw,"Sean Durkin (director/screenplay); Zac Efron, ...",[Drama]
251,The Color Purple,"Blitz Bazawule (director), Marcus Gardley (scr...",[Drama]
252,The Boys in the Boat,"George Clooney (director), Mark L. Smith (scre...",[]
253,Ferrari,"Michael Mann (director), Troy Kennedy Martin (...","[Action, Drama, History]"
254,NaN,NaN,"[Drama, Crime]"

In [313]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [314]:
df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\deepj\AppData\Local\Temp\ipykernel_1756\1551818249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(str(x)))

In [323]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [324]:
df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [325]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [326]:
df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [327]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [328]:
df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [329]:
df_2023 = df_2023.rename(columns={'Title':'movie_title'})

In [330]:
new_df23 = df_2023.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [331]:
new_df23['actor_2_name'] = new_df23['actor_2_name'].replace(np.nan, 'unknown')
new_df23['actor_3_name'] = new_df23['actor_3_name'].replace(np.nan, 'unknown')

In [332]:
new_df23['movie_title'] = new_df23['movie_title'].str.lower()

In [333]:
new_df23['genres'] = new_df23['genres'].apply(lambda genres_list: " ".join(genres_list))
new_df23['comb'] = new_df23['actor_1_name'] + ' ' + new_df23['actor_2_name'] + ' '+ new_df23['actor_3_name'] + ' '+ new_df23['director_name'] +' ' + new_df23['genres']

In [334]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Gerard Johnstone,Allison Williams,Violet McGraw,Amie Donald,Science Fiction Horror,m3gan,Allison Williams Violet McGraw Amie Donald Ger...
1,Brett Donowho,Nicolas Cage,Ryan Kiera Armstrong,unknown,Western,the old way,Nicolas Cage Ryan Kiera Armstrong unknown Bret...
2,Nathan Frankowski,Alice Orr-Ewing,Joe Doyle,Eveline Hall,Horror Fantasy Science Fiction Thriller,the devil conspiracy,Alice Orr-Ewing Joe Doyle Eveline Hall Nathan ...
3,Jean-François Richet,Gerard Butler,Mike Colter,Yoson An,Action Adventure Thriller,plane,Gerard Butler Mike Colter Yoson An Jean-Franço...
4,Calmatic,Tosin Cole,Jacob Latimore,Karen Obilom,Comedy,house party,Tosin Cole Jacob Latimore Karen Obilom Calmati...
...,...,...,...,...,...,...,...
250,Sean Durkin,Zac Efron,Jeremy Allen White,Harris Dickinson,Drama,the iron claw,Zac Efron Jeremy Allen White Harris Dickinson ...
251,Blitz Bazawule,Fantasia Barrino,Taraji P. Henson,Danielle Brooks,Drama,the color purple,Fantasia Barrino Taraji P. Henson Danielle Bro...
252,George Clooney,Callum Turner,Joel Edgerton,Peter Guinness,,the boys in the boat,Callum Turner Joel Edgerton Peter Guinness Geo...
253,Michael Mann,Adam Driver,Penelope Cruz,Shailene Woodley,Action Drama History,ferrari,Adam Driver Penelope Cruz Shailene Woodley Mic...
254,nan,nan,unknown,unknown,Drama Crime,NaN,nan unknown unknown nan Drama Crime

In [335]:
new_df23 = new_df23.dropna(subset=['movie_title'])

In [336]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Gerard Johnstone,Allison Williams,Violet McGraw,Amie Donald,Science Fiction Horror,m3gan,Allison Williams Violet McGraw Amie Donald Ger...
1,Brett Donowho,Nicolas Cage,Ryan Kiera Armstrong,unknown,Western,the old way,Nicolas Cage Ryan Kiera Armstrong unknown Bret...
2,Nathan Frankowski,Alice Orr-Ewing,Joe Doyle,Eveline Hall,Horror Fantasy Science Fiction Thriller,the devil conspiracy,Alice Orr-Ewing Joe Doyle Eveline Hall Nathan ...
3,Jean-François Richet,Gerard Butler,Mike Colter,Yoson An,Action Adventure Thriller,plane,Gerard Butler Mike Colter Yoson An Jean-Franço...
4,Calmatic,Tosin Cole,Jacob Latimore,Karen Obilom,Comedy,house party,Tosin Cole Jacob Latimore Karen Obilom Calmati...
...,...,...,...,...,...,...,...
249,Zack Snyder,Sofia Boutella,Charlie Hunnam,Ray Fisher,Science Fiction Fantasy Action,rebel moon,Sofia Boutella Charlie Hunnam Ray Fisher Zack ...
250,Sean Durkin,Zac Efron,Jeremy Allen White,Harris Dickinson,Drama,the iron claw,Zac Efron Jeremy Allen White Harris Dickinson ...
251,Blitz Bazawule,Fantasia Barrino,Taraji P. Henson,Danielle Brooks,Drama,the color purple,Fantasia Barrino Taraji P. Henson Danielle Bro...
252,George Clooney,Callum Turner,Joel Edgerton,Peter Guinness,,the boys in the boat,Callum Turner Joel Edgerton Peter Guinness Geo...
253,Michael Mann,Adam Driver,Penelope Cruz,Shailene Woodley,Action Drama History,ferrari,Adam Driver Penelope Cruz Shailene Woodley Mic...

In [337]:
my_df = pd.concat([new_df20,new_df21,new_df22,new_df23],ignore_index=True)

In [338]:
old_df = pd.read_csv('final_data.csv')

In [339]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
36856,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
36857,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance History,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
36858,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama History,1917,George MacKay Dean-Charles Chapman Mark Strong...
36859,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
36860,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [340]:
final_df = pd.concat([old_df,my_df],ignore_index=True)

In [341]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
38068,Zack Snyder,Sofia Boutella,Charlie Hunnam,Ray Fisher,Science Fiction Fantasy Action,rebel moon,Sofia Boutella Charlie Hunnam Ray Fisher Zack ...
38069,Sean Durkin,Zac Efron,Jeremy Allen White,Harris Dickinson,Drama,the iron claw,Zac Efron Jeremy Allen White Harris Dickinson ...
38070,Blitz Bazawule,Fantasia Barrino,Taraji P. Henson,Danielle Brooks,Drama,the color purple,Fantasia Barrino Taraji P. Henson Danielle Bro...
38071,George Clooney,Callum Turner,Joel Edgerton,Peter Guinness,,the boys in the boat,Callum Turner Joel Edgerton Peter Guinness Geo...
38072,Michael Mann,Adam Driver,Penelope Cruz,Shailene Woodley,Action Drama History,ferrari,Adam Driver Penelope Cruz Shailene Woodley Mic...

In [342]:
final_df.to_csv('main_data.csv',index=False)